.icons svg{
    color:white;
    background-color: black;
    padding:2px;
    border-radius: 10px;
}
.sidebar{
    position: fixed;
    z-index: 100;
    top:30%;
    left:2%;
}
.sidebar .active{
   background-color: aqua;
}