@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: gray;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 88%);
    border-radius: 999px;

  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 88%);

  }